#landing {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.header {
    height: 7%;
    width: 20%;
    margin-top: 1.5%;
    margin-left: 1%;
}

#about-us {
    height: 100vh;
    width: 100%;
    background-color: darkblue;
}

#key-officers {
    height: 100vh;
    width: 100%;
    background-color: black;
}

#core-values {
    height: 100vh;
    width: 100%;
    background-color: darkblue;
}

#services {
    height: 100vh;
    width: 100%;
    background-color: black;
}

#team {
    height: 100vh;
    width: 100%;
    background-color: darkblue;
}

#our-fleet {
    height: 100vh;
    width: 100%;
    background-color: black;
}

#our-partners {
    height: 100vh;
    width: 100%;
    background-color: darkblue;
}

#contact-us {
    height: 100vh;
    width: 100%;
    background-color: black;
}