.background {
    background-image: url("assets/BGimage-1024x518.png");
    background-size: cover;
    background-repeat: no-repeat;
  }


@media (min-width:1280px){
  .contact {
    padding-left: 40px;
  }
} 

@media (min-width:768px){
  .contact {
    padding-left: 20px;
  }
} 


@media (min-width:1440px){
  .torn {
    right: 400px;
  }
}